<header>
        <div class="container">
            <div class="intro-text">
                
                <div class="intro-heading">Your Question and Answer Marketplace</div>
                <div class="intro-lead-in">Make <b>Good</b> money.  Or get an answer to your most difficult questions.</div>
                <%= image_tag 'answrly.png' %>
            </div>

        </div>
</header>