<div class="wrapper">
	<div class="container">
		<div class="intro-text">
				Coming Soon.
                <%= image_tag 'answrly.png' %>
                <div class="intro-heading">Your Question and Answer Marketplace</div>
                <div class="intro-lead-in"></div>
                Make money online or get your questions answered.  


               <!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="//answrly.us12.list-manage.com/subscribe/post?u=0ba46ed381c4acfea9e9c3460&amp;id=7dd0d238f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Sign up for more details.</label>
					<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ba46ed381c4acfea9e9c3460_7dd0d238f9" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Learn More" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xl"></div>
				    </div>
				</form>
				</div>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

